{% extends "index.html" %}

{% set views = namespace() %}

{% block title %}Flip a Coin Game{% endblock %}

{% block content %}

<style>
    .CoinFlipContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
    }

    .CoinFlipBox {
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
</style>


<div class="CoinFlipContainer">
    <div class="CoinFlipBox">
        <h2>Get ready to flip...</h2>
        <p>Ensure that you indicate who is taking which side so that there are no surprises.</p>
        <form method="POST" action="{{ url_for('views.flip_result') }}">
            <label for="heads">Who is Heads:</label>
            <input type="text" name="heads" required>
            <br>
            <label for="tails">Who is Tails:</label>
            <input type="text" name="tails" required>
            <br>
            <button type="submit" class="btn btn-primary">Flip Coin</button>
        </form>
        {% if result %}
        <h3>{{ result }}</h3>
        <p>{{ winner }} wins!!!</p>
        <button onclick="tryAgain()" class="btn btn-secondary">Try Again</button>
        <script>
            function tryAgain() {
                window.location.href = '{{ url_for("views.flip_coin") }}';
            }
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}