{% extends "index.html" %}

{% block title %}Home | Flip a Coin{% endblock %}

{% block content %}
<div class="Welcome">
    <h1 class="WelcomeHeading">Welcome To Flip a Coin App</h1>
    <div class="WelcomeBox">
        <h2>About</h2>
        <p>The primary purpose of the Flip a Coin app is to provide a quick and unbiased way to make binary decisions when faced with two options. Common use cases include settling disputes, making choices between two alternatives, or adding an element of chance to decision-making processes.</p>
        <a href="{{ url_for('views.flip_coin') }}" class="btn btn-primary">Start the Coin Flip Game</a>
    </div>
</div>
{% endblock %}
